body {
  background-color: #f5f5f5;
}

form {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.row {
  padding-top: 60px;
}

.alert {
  max-width: 470px;
  text-align: center;
  margin: 0 auto;
}